{
    "semi": true,
    "endOfLine": "auto",
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.less",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
